FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"...","private_key":"...","client_email":"..."}
NEXT_PUBLIC_FIREBASE_CLIENT_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mangaworld-live-260519.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mangaworld-live-260519
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mangaworld-live-260519.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://mangaworld-live-260519-default-rtdb.firebaseio.com
SUPER_ADMIN_EMAIL=youssef2010.mahmoud@gmail.com

# Cloudinary (image uploads)
CLOUDINARY_CLOUD_NAME=mangaworld
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
